<nav
  class="w-full border-b border-slate-700 text-slate-400 flex items-center justify-between py-2 px-6"
>
  <img
    class="h-14"
    src="https://cdn-icons-png.flaticon.com/512/5501/5501375.png"
    alt=""
  />
  <div class="flex gap-8">
    <a class="hover:text-white hover:scale-125" href="/">Home</a>
    <a class="hover:text-white hover:scale-125" href="/expense/create"
      >Log Expense</a
    >
    <a class="hover:text-white hover:scale-125" href="/expense/show"
      >Watch Expenses</a
    >
    <a class="hover:text-white hover:scale-125" href="/about">About</a>
  </div>
</nav>
